@use "../utils" as *;

/*--
    - Background color
-----------------------------------------*/
.grey-bg {
  background: var(--tp-grey-1);
}
.theme-bg {
  background: var(--tp-heading-primary);
}
.theme-light-bg {
  background-color: var(--tp-icon-blue);
}
.white-bg {
  background: var(--tp-common-white);
}

.black-bg {
  background: var(--tp-common-black);
}

section.services-area.pt-80.pb-50.grey-bg.mt-60.fix.bg-shape-01 {
    margin: 0px 50px;
}