$colors: (
    common: (
        white: #ffffff,
        black: #000,
    ),
    heading: (
        primary: #000000,
    ),
    grey: (
        1:#EEEEEE,
    ),
    text: (
        body:#333333,
        1:#A9B7D1,
        2:#8A879F,
        3: #B7B6C4,
    ),
    theme: (
        primary: #333333,
        secondary: #f27e01,
        blue:#0E63FF,
        pink: #F72A75,
        sky: #42BFFF,
    ),
    border: (
        primary: #CCCCCC,
        secondary:#D1D6E0,
    ),
    icon:(
        blue:#f27e01,
        blue-light:#E7efFF,
        green: #f27e01,
        green-light: #E7FAF6,
        pink: #F72A75,
        pink-light: #FEEAf1,
        sky: #42BFFF,
        sky-light: #ECF9FF,
        red:#FF0000,
        tweet:#1DA1F2,
        fb:#4267B2,
        skype:#00A6E4,
    )
);
